.Hero {
  border: 1px solid #9CA3AF;
  border-radius: 5px;
  padding: 2rem 1rem;
}

.Hero__title {
  margin: 0;
}

.Hero__description {
  margin: 0;
}

.Hero__links {
  margin-top: 0.5rem;

  a {
    padding-right: 0.25rem;
    text-decoration: underline;
    color: #111827;
  }
}
