.Post {
  padding: 1.925rem 0.5rem;
}

.Post__title {
  margin: 0.5rem 0;
  font-size: 2rem;
  cursor: pointer;
}

.Post__description {
  margin: 0.5rem 0 1rem 0;
  color: #374151;
  font-size: 1.125rem;
  word-break: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Post__date {
  color: #9CA3AF;
}